extends layout.pug
block content
    h1= __("EnterPassword")
    h3 #{__("Link")}: "#{slug}"
    form(action="" method="POST")
        .form-group
            label(for="password")= __("Password")
            input(type="password" name="password" placeholder= __("Password") required)#password.form-control
        input(type="submit" value=__("Go!")).btn.btn-primary.w-100