extends layout.pug
block content 
    h1.title= __("Shorten")
    if error
        .alert.alert-danger
            | #{__("Error")}: #{error}
    if success
        .alert.alert-success
            | #{__("Success")}
            br
            center 
                b de.vg/#{slug}
            br
            b=__("EditLink") 
            span https://de.vg/#{slug}/#{token}]
    form(action="" method="POST")
        .form-group
            label(for="url")= __("URL")
            input(type="text" placeholder=__("URL") required name="url" value= url)#url.form-control
        .form-group
            label(for="password")= __("SetPassword")
            input(type="password" placeholder=__("Password") name="password")#password.form-control
        input(type="submit" value=__("Go!")).btn.btn-primary.w-100
        p
            b= __("Disclaimer")
        


